<app-navbar></app-navbar>
<div class="container">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Nom ">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Numéro Télépone">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="password" class="form-control" placeholder="Saisie Password ">
            </div>
            <div class="col">
                <input type="password" class="form-control" placeholder="Répetez Password">
            </div>
        </div><br>
        <button type="button" class="btn btn-outline-success">S'inscrire</button>
    </form>
</div>
<app-footer></app-footer>